.app {
    height: 100vh;
    background: rgb(41, 126, 139);
    background: linear-gradient(0deg, rgba(41, 126, 139, 1) 46%, rgba(4, 85, 193, 1) 81%);
}

@media screen and (max-width: 768px) {
    .app{
        height: 100%;
        padding-top: 5%;
    }

}
